<section id="contatos">
    <header class="major">
      <h2>Horário de Atendimento e Canais de Contato</h2>
    </header>
    <p class="text-justify">
      A Agência está disponível para atendimento de segunda a
      sexta-feira, em horário comercial, das 8h às 12h e das 13h às 17h.
      Entre em contato conosco para tirar dúvidas ou enviar sugestões,
      estamos prontos para auxiliá-lo.
    </p>
    <ul class="contact">
      <li class="icon solid fa-envelope">
        <a href="mailto:agencia.proppg@uftm.edu.br"
          >agencia.proppg@uftm.edu.br</a
        >
      </li>

      <li class="icon solid fa-phone">(34) 3331 3036</li>
      <li class="icon solid fa-home">
        ICTE - Unidade I<br />
        Av. Randolfo Borges Júnior,1250 – Bloco A -
        Univerdecidade <br />
        CEP: 38064-200 - Uberaba - MG
      </li>
    </ul>
    <hr />
    <ul class="icons icons-list">
      <li>
        <a
          href="//www.linkedin.com/company/agenciauftm/"
          target="_blank"
          class="icon brands fa-linkedin"
          ><span class="label">Linkedin</span></a
        >
      </li>
      <li>
        <a
          href="//www.facebook.com/agenciauftm"
          target="_blank"
          class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="//www.youtube.com/channel/UCUtjWebKQfYgkxLqCaGygJQ"
          target="_blank"
          class="icon brands fa-youtube"
          ><span class="label">Youtube</span></a
        >
      </li>
      <li>
        <a
          href="//www.instagram.com/agenciauftm/"
          target="_blank"
          class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="//inovacaouftm.medium.com/"
          target="_blank"
          class="icon brands fa-medium-m"
          ><span class="label">Medium</span></a
        >
      </li>
    </ul>
  </section>