<nav id="menu">
    <header class="major">
      <h2>Menu</h2>
    </header>
    <ul>
      <li><a href="/">Página inicial</a></li>
      <li><a href="/pages/indexAguin.html">AGUIN</a></li>
      <li><a href="/pages/indexNit.html">NIT</a></li>
      <li><a href="/pages/indexNuemp.html">NUEMP</a></li>
      <li><a href="/pages/indexIncubadora.html">Incubadora Impulso</a></li>
      <li>
        <span class="opener"> Empresas Juniores</span>
        <ul>
          <li>
            <a
              href="https://drive.google.com/file/d/1cRTyT-q2X91YeqmDJpkIhmhbgy5oA4Aq/view?usp=sharing"
              >Ajea</a
            >
          </li>
          <!--<li>
            <a
              href="https://drive.google.com/file/d/17EJn_xInfkNQgxbGLKg1x6mpM8AhAycS/view?usp=sharing"
              >Alimentri</a
            >
          </li>-->
          <li>
            <a href="mailto:analiseempresajunior@gmail.com">Analise</a>
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1_No7pKP6Rlrk0HOeQ-dAc5db2mX2sG61/view?usp=sharing"
              >Bioplanej</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1fLZOj40YH_H5JQHtxVF9RfFy1n8TPrv8/view?usp=sharing"
              >Ejeet</a
            >
          </li>
          <!--<li>
            <a href="//www.instagram.com/ejuntouftm/">EjunTO</a>
          </li>-->
          <li>
            <a
              href="https://drive.google.com/file/d/1TofWpxKM950IfDfN1eIeG1qvjgjymaOE/view?usp=sharing"
              >Esamb</a
            >
          </li>
          <!--<li>
            <a href="//ejuquiuftm.wixsite.com/ejuqui">EjuQUI</a>
          </li>-->
          <li>
            <a
              href="https://drive.google.com/file/d/1EmDtKl9s6NrVqGsmO_ogHyByiQGfTNwt/view?usp=sharing"
              >Innovare Jr</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1m8OGP1hISWvN8RMHQ9pB1R8CB49yo7Js/view?usp=sharing"
              >Ligamento</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1VaSbjGGsibjkdbRbKcgRo7UQr4BFwx5q/view?usp=sharing"
              >MecTRIA</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1tP3RnOft5qARz3Y6gRXpb1y9j0EwMHr3/view?usp=sharing"
              >Preven</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1IHSR5oG3UXI-7vrGjtfxSfZOMCtkI_nv/view?usp=sharing"
              >Projep</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1HfoaeOw6orHZn9e1NiQNfTKEK_b-9Fjo/view?usp=sharing"
              >TriEQ</a
            >
          </li>
          <li>
            <a
              href="//drive.google.com/file/d/1ZR1RhpqFkNo6Piz186d7yDXQcQXOox65/view?usp=drive_link"
              >Via Jr.</a
            >
          </li>
        </ul>
      </li>
      <!-- <li><a href="#">Capacitações</a></li>
                                <li><a href="/vitrineTecnologica">Vitrine Tecnológica</a></li>-->
    </ul>
  </nav>