<section id="banner">
    <div class="content">
      <header>
        <h1>Transformando ideias em inovação</h1>
        <p>CONHEÇA A AGÊNCIA UFTM DE INOVAÇÃO</p>
      </header>
      <p>
        A Agência UFTM de Inovação tem a missão de incentivar e promover
        a inovação tecnológica na universidade, visando o
        desenvolvimento da sociedade. Com uma equipe altamente
        qualificada e diversas parcerias, a agência busca apoiar
        projetos inovadores e empreendimentos que possam gerar impacto
        positivo no mercado e na comunidade. Seus valores incluem ética,
        transparência, colaboração e excelência, sempre buscando atender
        às demandas e necessidades de seus clientes e parceiros.
      </p>
      <ul class="actions">
        <li>
          <a href="indexAguin.html" class="button big">SAIBA MAIS</a>
        </li>
      </ul>
    </div>
    <span class="image object">
      <img src="dist/images/agencia.png" alt="" />
    </span>
  </section>