<header id="header">
  <a href="/" class="logo"></a>
  <ul class="icons">
    <li>
      <a
        href="//www.linkedin.com/company/agenciauftm/"
        target="_blank"
        class="icon brands fa-linkedin"
        ><span class="label">Linkedin</span></a
      >
    </li>
    <li>
      <a
        href="//www.facebook.com/agenciauftm"
        target="_blank"
        class="icon brands fa-facebook-f"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a
        href="//www.youtube.com/channel/UCUtjWebKQfYgkxLqCaGygJQ"
        target="_blank"
        class="icon brands fa-youtube"
        ><span class="label">Youtube</span></a
      >
    </li>
    <li>
      <a
        href="//www.instagram.com/agenciauftm/"
        target="_blank"
        class="icon brands fa-instagram"
        ><span class="label">Instagram</span></a
      >
    </li>
    <li>
      <a
        href="//inovacaouftm.medium.com/"
        target="_blank"
        class="icon brands fa-medium-m"
        ><span class="label">Medium</span></a
      >
    </li>
  </ul>
</header>