<section id="tripe">
    <div class="row">
      <div class="col-4 col-12-medium">
        <header class="major">
          <h2>Missão</h2>
        </header>
        <p>
          Transformar conhecimento em inovação, contribuindo para o
          desenvolvimento científico e tecnológico, econômico e social
          da sociedade.
        </p>
      </div>
      <div class="col-4 col-12-medium">
        <header class="major">
          <h2>Visão</h2>
        </header>
        <p>
          Ser referência em inovação e empreendedorismo, fomentando a
          cultura empreendedora na comunidade universitária e
          estimulando o surgimento de novos negócios.
        </p>
      </div>
      <div class="col-4 col-12-medium">
        <header class="major">
          <h2>Valores</h2>
        </header>
        <p>
          Comprometimento com a excelência, ética, transparência,
          respeito à diversidade, colaboração, criatividade e inovação.
        </p>
      </div>
    </div>
  </section>